/* 
Footer
Standard Div's
Background
*/

/* Navbar */
#navbarExampleTransparentExample {
    background-color: #C44900;
}

#home {
    color: #ffffff;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -ms-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}
#home:hover {
    color: black;
}
#blog {
    color: #ffffff;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -ms-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}
#blog:hover {
    color: black;
}
#aboutMe {
    color: #ffffff;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -ms-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}
#aboutMe:hover {
    color: black;
}
#navbarAboutMeDropdownText {
    color: #020202;
}

.button {
    background-color: #020202 !important;
}

.fa-github {
    color: #ffffff;
}
#githubText {
    color: #ffffff;
}


.fa-facebook-square {
    color: #3b5998;
}
#facebookText {
    color: #ffffff;
}


.fa-linkedin {
    color: #007bb6;
}
#linkedinText {
    color: #ffffff;
}

/* Hero */
.hero.home {
    background: url(../img/ESCRBackground.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero.home > div {
    min-height: 100vh;
}

.header {
    background-color: #C44900;
}

/* Body */
#languageHeaders {
    background-color: #C44900;
}
#headerColumns {
    box-sizing: border-box;
    margin-top: 3vh;
}
#specialThanksHeaderColumn {
    box-sizing: border-box;
    margin-top: 3vh;
    background-color: #C44900;
}

.fa-wix {
    color: #ffffff;
}
#wixText {
    color: #ffffff;
}

.fa-twitter {
    color: #1DA1F2
}
#twitterText {
    color: #ffffff;
}


/* Footer */
.footer {
    background-color: #C44900;
}
#footerText {
    font-family: Zapf Chancery, cursive;
}

.TransparentHomeDiv {
    background-image: url(../img/ESCRBackground.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.homedivider1 {
    -webkit-clip-path: polygon(23% 75%, 100% 90%, 100% 100%, 0 100%, 0 75%);
    clip-path: polygon(23% 75%, 100% 90%, 100% 100%, 0 100%, 0 75%);
    background-color: #C44900;
    padding-bottom: 0vh;
    height: 30vh;
}

.homedivider2 {
    background-color: #C44900;
    padding-bottom: 0vh;
    height: 7vh;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
    color: red;
}

#shine {
    position: relative;
    overflow: hidden;
}
#shine::after {
    content: "";
  position: absolute;
  top: -110%;
  left: -310%;
  width: 460%;
  height: 200%;
  opacity: 0;
  transform: rotate(20deg);
  background: rgba(255, 255, 255, 0.63);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.63) 0%,
    rgba(255, 255, 255, 0.63) 77%,
    rgba(255, 255, 255, 0.3) 92%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
#shine:hover::after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.8s, 0.7s, 0.15s;
    transition-timing-function: ease;
}
#shine:active::after {
    opacity: 0;
}