/* 
Footer
Standard Div's
Background
*/

/* Navbar */
#navbarExampleTransparentExample {
    background-color: #C44900;
}

#home {
    color: #ffffff;
}
#blog {
    color: #ffffff;
}
#aboutMe {
    color: #ffffff;
}
#navbarAboutMeDropdownText {
    color: #020202;
}

.button {
    background-color: #020202;
}

.fa-github {
    color: #ffffff;
}
#githubText {
    color: #ffffff;
}


.fa-facebook-square {
    color: #3b5998;
}
#facebookText {
    color: #ffffff;
}


.fa-linkedin {
    color: #007bb6;
}
#linkedinText {
    color: #ffffff;
}

/* Hero */
.hero.home {
    background: url(../images/ESCRBackground.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero.home > div {
    min-height: 100vh;
}

.header {
    background-color: #C44900;
}

/* Body */
#languageHeaders {
    background-color: #C44900;
}
#headerColumns {
    box-sizing: border-box;
    margin-top: 3vh;
}
#specialThanksHeaderColumn {
    box-sizing: border-box;
    margin-top: 3vh;
    background-color: #C44900;
}

.fa-wix {
    color: #ffffff;
}
#wixText {
    color: #ffffff;
}

.fa-twitter {
    color: #1DA1F2
}
#twitterText {
    color: #ffffff;
}

/* Footer */
.footer {
    background-color: #C44900;
}
